html{
    font-size: 62.5%;/*Reset para REMS - 62.5% = 10px de 16px*/
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
*{
	/*font-family: arial;*/
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	
	/*font-family: 'Open Sans', sans-serif;*/
}
.header{
	background: #a20808;
	color:#fff;
	padding: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.header figure {
	width: 23px;
	height: 23px;
	padding:0;
	margin-left: 20px;
	margin-top: -55;
	float: left;
}
.contenedor{ 
	padding: 0rem;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}
.cuerpo{
	background: #a20808;
	padding: 0px;
	min-height: 495px;
	height: 51.4rem;
	margin: 0rem;
	background-size: cover;
	background-position: center center;
}
.menu{
	display: flex;
	align-items: center;
	padding: 1rem;
	
	background: #353535;
	margin: 0rem;
	justify-content: center;

}
/*
font-family: 'PT Sans', sans-serif; h1
font-family: 'Oswald', sans-serif; encabezados h2
*/
.menu a{
	text-decoration: none;
	color: #fff;
	background: #353535;
	padding: 0.5rem;
	padding-left: 3.5rem;
	display: inline-block;
	
}

.menu a:hover{
	background: #8A0505;
}
.footer{
	background: #a20808;
	color: #aaa;
	text-align:center;
	font-size: 10px;
	padding: 50px;
}
