/*HEADER*/
.centrar_header{

}

/*Seccion principal*/
.seccion_mascotas_busqueda{
    max-width: 120rem; /*== 1200px*/
    margin: 0 auto;    
}

/*TITULOS */
.Titulo_mascotas{
    font-size: 38px;
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    font: bold;
    color: #AF2B2B;
    text-transform: uppercase; 
    margin-top: 40px;  
}
.Texto_caracteristicas{
    margin-top: 8px;
}
/*FORLUMARIO*/
.Agrupar_Form{
    display: flex;
    justify-content: space-between ;
    flex: 80%;
    align-items: center;
    margin-top: 15px;
}

.form_buscar_mascota{
    /*display: flex;
    justify-content: space-between;*/
    /*float: right;*/
   /* display: flex;*/
   display: flex;
   background: initial;
   padding: 5px;
   border: none; 
   /*background-color: blue;*/
   width: 26%;
}
.form_buscar_mascota input{
    border-radius: 5px;
   /* width: 100%;*/
    height: 36px;
}
.Btn_Buscador{
   width: 100%;
   margin-left: 10px;
}
/*
.form_buscar_mascota .btn_buscar_mascota{
    background: #1faac8;
    color: #FFF;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}
*/
/* SELECTS */
.Agrupar_Select{ 
   margin-left: 0px;
   /*background-color: blue;*/
}
.select_buscar{
    margin: 12px 5px;
}

.select_opciones{
    background:internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
}
.content-select select{
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
   display: none;
}
.content-select{
   display: inline-block;
   max-width: 100%;
   position: relative;
   font-size: 14px;
}
.content-select select{
   display: block;
   width: 100%;
   cursor: pointer;
     padding: 7px 10px;
     height: 38px;
     outline: 0; 
     border: 0;
   background: #f0f0f0;
   color: #7b7b7b;
   border:2px solid rgba(0,0,0,0.2);
   border-radius: 15px;
   position: relative;
   transition: all 0.25s ease;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
   position: absolute;
   right: 1px;
   top: calc(50% - 9px);
   width: 11px;
   height: 11px;
   display: block;
   border-left:4px solid #AF2B2B;
   border-bottom:4px solid #AF2B2B;
   transform: rotate(-45deg); /* Giramos el cuadrado */
   transition: all 0.25s ease;
}

.content-select:hover i{
   margin-top: 3px;
}
/*BOTON*/
.button {
    background-color: #e73535;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 8px 22px 7px;
    position: relative;
    cursor: pointer;
    margin-top: 2px;
  }
  .button:before,
  .button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
  }
  .button:before {
    border-top: 2px solid #e73535;
    left: 0px;
    top: -5px;
  }
  .button:after {
    border-bottom: 2px solid #e73535;
    bottom: -5px;
    right: 0px;
  }
  .button:hover {
    background-color: #e73535;
  }
  .button:hover:before,
  .button:hover:after {
    height: 100%;
    width: 100%;
  }
/*******MASCOTAS_ADOPTA******/
.ordenar{
    /*text-align: center;
    justify-content: center center;*/
    width: 100%;
    box-shadow: lightgrey 2px 2px 2px 1px;
    background-color: #f9f9f9; 
   
}
ul.lista_mascotas {
    margin: 2rem auto;
   
}
ul.lista_mascotas li{
    /*padding: 10px;*/
    display: inline-block;
    list-style: none;
    padding: 10px;
    left: 50px;
    margin: 0;
    position: relative; 
}
.Frase_Oculta{
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.73);
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);*/
    width: 100%;
    color: #FFF;
    padding: 10px;
}
ul.lista_mascotas li:hover .Frase_Oculta {
    display: block;
    }
@media only screen and (min-width:480px){
        ul.lista_mascotas li {
            width: 49%;
            /*Arreglar la letra al hacerse chiquito*/
        }
    } 
@media only screen and (min-width:768px){
        ul.lista_mascotas li {
            width: 30%;
        }
    } 

div.mascota{
    position: relative;
    overflow: hidden;
    width: 350px; 
    height: 330px;
    padding: 1.5px;
}

div.mascota img{
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    height: 100%;
   
}
.img_mascotas{
    border-radius: 10px;
}
div.mascota:hover img{  
    -webkit-transform: scale(1.3);
    transform: rotate(3deg);
}

div.mascota p { /*Bajar el tamaño creo que esta muy grande*/
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    width: 100%;
    text-align: left;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    font: bold;
    background-color: rgba(0,0,0,0.73);
    color :  #fe4918;
    text-transform: uppercase;   
    -webkit-transition: all .3s ease-in-out; 
}

div.mascota:hover .Nombre_Mascota{
    bottom: -80px;
    opacity: 0;
}

div.mascota:hover .Frase_Oculta{
    display: block;
}
.cinta {
    position: relative;
    text-align: center;
    display: inline-block; *display: inline; zoom: 1;
    /*margin: 20px auto 10px;*/
    }
    .uno:before,
    .dos:before, .dos:after,
    .tres:before, .tres:after,
    .cuatro:before, .cuatro:after {
    content: "";
    display: block;
    width: 35%;
    height: 30px;
    position: relative;
    top: 22px;
    margin: auto;
    background: rgba(255,255,200,0.6);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    }
    /* Esto es sólo algo de estilo adicional para la imagen */
    .cinta img {
    display: inline-block; *display: inline; zoom: 1;
    /*border: 1px solid #ddd;*/
    /*margin: 0 20px;*/
    padding: 8px;
    padding-bottom: 4px;
    /*background: #fff;*/
    text-align:center;
    /*vertical-align:top;*/
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    
    }
/*PAGINADOR ADOPTA*/
.paginador-Adopta ul{
    padding: 15px;
    list-style: none;
    background: #FFF; 
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    }
    .paginador-Adopta a, .pagesSeletedAdopta{
        color: #e73535;
        border: 1px solid #ddd;
        padding: 5px;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        width: 35px;
    }
    .paginador-Adopta a:hover{
        background: #ddd;
    }
    
    .pagesSeletedAdopta{
        color: #FFF;
        background: #e73535;
        border: 1px solid #e73535;
    }
/*ADOPTA_ESP*/
/*SECCION PRINCIPAL*/
.contenedor_adopta{
    max-width: 110rem; /*== 1200px*/
    margin: 15px auto;
}
/*TITULO*/
.Nombre_Mascota{ 
    margin: 20px;

}
.texto_sub_ti{
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    color: #222831;
    text-transform: uppercase; 
    
}
.texto_sub{
    color:#1E1E1E; 
    margin-top: 20px;
}
/*DIVISION ESPACIO*/
/*IMAGEN*/
.Img_adopta_esp{
    width: 700px;
    height: 450px;
    border-radius: 10px;
}
/*TEXTO*/
.division{ /*Imagen de texto*/
    display: flex;
}
.left{ /*Imagen de texto*/
    margin-left: 10px;    
}
.division_datos{ /* texto de texto*/
    display: inline-block;
    border-bottom: 1px solid #D2D2D2;
    padding: 2px 0px;
    width: 47%;  
}
.division_datos p{
    display: block;
    padding: 2px 0;
    margin: 5px;
}

/*ADOPTA SUGERIDOS*/
.Mas_Suge{
    font-size: 24px;
    text-align: left;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    color: #AF2B2B;
    text-transform: uppercase; 
    margin-top: 12px;
    

}
ul.lista_mascotas_suge {
    margin: 1rem 0.5rem;
    
}
ul.lista_mascotas_suge li{
    display: inline-block;
    list-style: none;   
    margin: 0;
    position: relative;
    align-items: center;
    /*justify-content: space-between;*/
    left: 35px;
}
div.mascota_suge{
    position: relative;
    overflow: hidden;
    width: 250px; 
    height: 230px;
}

div.mascota_suge img{
    width: 100%; 
    height: 100%;
}
div.mascota_suge p { /*Bajar el tamaño creo que esta muy grande*/
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 9px 5px;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    font: bold;
    background-color: rgba(0,0,0,0.73);
    color : #fe4918;
    text-transform: uppercase;   
}   

 .form_adoptar{
    display: flex;
    background: initial;
    padding: 10px;
    border: none; 
    width: 50%;
    margin-top: 50px;
 }
 /*BOTON ADOPTAR*/
.buttonap {
    font-size: 17px;
    background-color: #e73535;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 8px 22px 7px;
    position: relative;
    cursor: pointer;
    margin-top: 4px;
    width: 140px;
    height: 38px;
  }
  .buttonap:before,
  .buttonap:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
  }
  .buttonap:before {
    border-top: 2px solid #e73535;
    left: 0px;
    top: -5px;
  }
  .buttonap:after {
    border-bottom: 2px solid #e73535;
    bottom: -5px;
    right: 0px;
  }
  .buttonap:hover {
    background-color: #e73535;
  }
  .buttonap:hover:before,
  .buttonap:hover:after {
    height: 100%;
    width: 100%;
  }
/*PROCESO DE ADOPCION*/
.Lista_Requerimientos{
    list-style: circle;
    
}
.Lista_Requerimientos li{
    padding: 20px 0;
    color: #1E1E1E;
}
.titu_adop{
    margin-top: 20px;
}
.centrar_adopta{
    align-items: center;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
}
.centrar_boton_adop{
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}
.hipervinculo{
    text-decoration: none; 
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:#1E1E1E;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #AF2B2B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .hover-underline-animation:hover{
    color: #AF2B2B;
  }

/*POPUP*/
.espaciado_adop{
    margin-top: 35px;
    margin-bottom: 15px;
}
.Agrupar_botons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn_Validar{
    margin-top: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 3px;
    right: 80%;
}
.btn_Validar_Can{
    /* left: 30%; */
    margin-top: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 3px;
    left: 80%;

}
.btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
.msg_error_adop{
    color: #fa1616;
    font-size: 18px;
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    font: bold;
    display: block;
	margin-left: auto;
	margin-right: auto;    
}
/*COSAS A CONSIDERAR*/
.left_considerar{
    padding: 10px; 
    float: left; 
    width: 48%; 
    text-align: justify;
    background-color: blueviolet;
}
.right_considerar{
    padding: 10px; 
    float: right; 
    width: 48%; 
    text-align: justify;
    background-color: blue;
}
.left_considerar:last-of-type{
    width: 49.9%;
    float: inline-end;
}
.left_considerar img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.right_considerar img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.columnar {
    float: left;
    width: 48%;
    padding: 8px;
    margin-left: 15px;
    
}
.columnar img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.columnar p{
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
.dividir_considerar{
    margin: 30px;
    
}
/*SOLICITUD ADOPCION*/
.form_Solicitud{
    display: block;
    /*display: flex;*/
    background: initial;
    border: none; 
    padding: 10px;
    
    /*background-color: blue;*/
    width: 80%;

}
.form_Solicitud select, .form_Solicitud input{
    margin: 5px;
    height: 38px;
    background: #f9f9f9;
}
.right_boton{
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: right;
}
.center_boton{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}
.left_boton{
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
}
.btn_enviar{
    width: 20%;
}
.sombreado_texto{
   
}
.Titulo_mascot_Solicitud{
    font-size: 25px;
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-weight: bold;
    font: bold;
    color: #AF2B2B;
    text-transform: uppercase; 
    margin-top: 10px;
}
.Espaciado_solicitud{
   background-color: #F6F6F7;
    margin: 30px auto;
    text-align: center;
    align-items: center;
    
}
.left_solicitud{
 float: left;
 width: 20%;
 align-items: center;
 text-align: right;
}
.Img_solicitud{
    border-radius: 10px;
    width: 240px;
    height: 208px;
}
.division_datos_solicitud{ /* texto de texto*/
    display: flex;
    width: 100%;
}
.division_datos_solicitud p{
    display: block;
    padding: 3px 0;
    margin-right: 3px;   
}
.center_solicitud{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   }
/*ADOPTA*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
input {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 110vh;
    overflow: hidden;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
.form_login_v {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    border: none;
    border-radius: 0px;
  }
 
  
.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.6rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  .input-field-dos {
    /*INTERNO*/
    max-width: 200px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 15px 15px;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field-dos i {
    /*Imagen del lado*/
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field-dos input {
    /*Solo el texto*/
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.6rem;
    color: #333;
    
  }
  
  .input-field-dos input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  .general_registrate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #B23434;
    border-color: #B23434;
  }
  
  .btn {
    width: 150px;
    background-color: #B23434;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #B23434;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  
  .container:before {
    content: "";
    position: absolute;
    height: 2600px;
    width: 2600px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #B53B3B 0%, #B53B3B 100%); /*B84343*/
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
    
  }
  
  .image{
    width: 75%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
    margin-right: 65px;
  }
  .imagedos{
    margin-right: 0px;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 2rem;
  }
  
  .panel p {
    font-size: 1.6rem;
    padding: 0.7rem 0;
    margin-bottom: 10px;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 134px;
    height: 45px;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
     
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
  .titulo_login{
      background: #B53B3B; 
      color: #FFF;  
      text-transform: uppercase; 
      font-family: 'Montserrat', sans-serif;

  }
  /*SELCT REGISTRAR*/
  .content-selectregis select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
 }
 /* Eliminamos la fecha que por defecto aparece en el desplegable */
 .content-selectregis select::-ms-expand {
    display: none;
 }
 .content-selectregis{
    display: block;
    width: 50%;
    position: relative;
    font-size: 14px;
 }
 .content-selectregis select{
    display: block;
    width: 100%;
    cursor: pointer;
      padding: 7px 10px;
      height: 55px;
      outline: 0; 
      border: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 60px;
    position: relative;
    transition: all 0.25s ease;
 }
 .content-selectregis i{
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
    width: 11px;
    height: 11px;
    display: block;
    border-left:4px solid #AF2B2B;
    border-bottom:4px solid #AF2B2B;
    transform: rotate(-45deg); /* Giramos el cuadrado */
    transition: all 0.25s ease;
 }
 .content-selectregis:hover i{
    margin-top: 3px;
 }