#container{
    background-image: url(../img/Contacto.png);
    background-repeat:no-repeat ;
    background-size: cover;
	width: 1350px;
	height: 480px;
}

#container form{
	background: rgba(230, 235, 229, 0.418);
    width: 500px;
    padding: 10px;
}

h1{
    color: white;
    margin-top: -20px;
    font-size: 20pt;
}

#container form input{
    height: 30px;
}

#container form input, textarea{
    font-size: 10pt;
    padding:5px;
    color: #131111;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 5px;
    width: 90%;
    display: block;
	border-radius: 5px;
	border: 1px solid #34495E ;
}

#container form textarea{
    min-height: 80px;
    max-height: 100px;
    max-width: 100%;
}

#container form input[type=submit]{
    color: #d5e6da;
    background: #974f4f;
    width:100px;
    text-align: center;
}

#container form input[type=submit]:hover{
    cursor: pointer;
}

::-webkit-input-placeholder{
 color: #030303;
}

label{
	display: block;
	font-size: 10pt;
	font-family: 'Arial';
	margin: 15px auto 5px auto;
}

@media (max-width:480px){
    form{
        width: 100%;
    }
}

#gracias{
    background-image: url(../img/GraciasFondo.png);
    background-repeat:no-repeat ;
    background-size: cover;
	width: 1350px;
	height: 480px;
}